[Desktop Entry]
Type=Application
Name=Arjun
GenericName=Parameter Discovery
Comment=HTTP parameter discovery suite
Exec=kitty --title "Arjun" -e zsh -c "echo '  Arjun'; echo '  Usage: arjun -u <url>'; echo; exec zsh"
Icon=arjun
Terminal=false
Categories=X-BlackArch-Webapp;Security;
Keywords=arjun;parameter;discovery;http;
