[Desktop Entry]
Type=Application
Name=Evilginx
GenericName=Phishing Proxy
Comment=Standalone MITM attack framework for phishing 2FA credentials
Exec=kitty --title "Evilginx" -e zsh -c "echo '  Evilginx'; echo '  Usage: evilginx'; echo; exec zsh"
Icon=evilginx
Terminal=false
Categories=X-BlackArch-Social;Security;
Keywords=evilginx;phishing;2fa;bypass;proxy;
